<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{ base_url() }}/assets/css/foundation.min.css">
	<link rel="stylesheet" href="{{ base_url() }}/assets/css/font-awesome.css">
	<link rel="stylesheet" href="{{ base_url() }}/assets/css/appcp.css">
	<title>{% block title %}{% endblock title %}</title>
</head>
<body>
	{% block reveal %}
	{% endblock reveal %}
	{% if messages %}
		{% if messages.success %}
			<div class="messages callout success">
				<i class="fa fa-exclamation-triangle"></i>{{ messages.success[0] }}
			</div>
		{% else %}
			<div class="messages callout alert">
				<i class="fa fa-exclamation-triangle"></i>{{ messages.error[0] }}
			</div>
		{% endif %}
	{% endif %}
	<nav class="navbar">
	</nav>
	<div class="medium-12 columns">
		<div class="container">
			<div class="medium-12 columns">
				<h2 class="container--title clearfix">{% block contenttitle %}{% endblock contenttitle %}</h2>
			</div>
			<div class="medium-12 columns">
				{% block content %}
				{% endblock content %}
			</div>
		</div>
	</div>
	<script src="{{ base_url() }}/assets/js/vendor/jquery.js"></script>
	<script src="{{ base_url() }}/assets/js/vendor/what-input.js"></script>
	<script src="{{ base_url() }}/assets/js/vendor/foundation.min.js"></script>
	<script src="{{ base_url() }}/assets/js/app.js"></script>
	<script>
		$('.messages').delay(3500).fadeOut(400);
	</script>
	{% block scripts %}
	{% endblock scripts %}
</body>